body {
  padding-top: 70px;
  font-family: 'Segoe UI', sans-serif;
}

/* HERO */
.hero-section {
  height: 100vh;
  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ),
  url("https://images.unsplash.com/photo-1695120801533-1cdf1d7d2d6a?q=80&w=1600") center/cover no-repeat;

  display: flex;
  align-items: center;
}

/* FEATURES */
.feature-card {
  background: #f8f9fa;
  padding: 30px;
  border-radius: 12px;
  height: 100%;
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h5 {
  color: #b63e3e;
  font-weight: 600;
}

/* CTA */
.cta-section {
  background: #b63e3e;
  padding: 80px 0;
}
