body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.n-box {
    background-color: #a43d3d;
    color: white;
    padding: 0.3rem 0.6rem;
    font-family: 'Segoe UI', sans-serif;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
  }
  .n-box:hover {
    background-color: #c6c600;
  }

  .navbar-brand {
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }

.login-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  border-radius: 1rem;
}

.btn-primary {
  background-color: #ff6b6b;
  border: none;
}

.btn-primary:hover {
  background-color: #ff4c4c;
}

.form-label {
  font-weight: 500;
}
