body {
  padding-top: 70px;
  background-color: #f8f9fa;
}

.n-box {
    background-color: #a43d3d;
    color: white;
    padding: 0.3rem 0.6rem;
    font-family: 'Segoe UI', sans-serif;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
  }
  .n-box:hover {
    background-color: #c6c600;
  }

  .navbar-brand {
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
/* HERO */
.contact-hero {
  height: 45vh;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
              url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee")
              center/cover no-repeat;
  display: flex;
  align-items: center;
}

/* CARD */
.contact-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
}
